p {
  font-family: Lato;
}
blue {
  background-color: lightblue;
}
.toggle {
  background-color: yellow
}

 
.tooltip {
  display: inline-block;
  border-bottom: 1px dotted black; 
  position: absolute;
}